{% block description %}
<p class="meta">（这是一道数学题）</p>
<p>『加拉哈德一号，这是我为你新设计的武器，质子撕裂者。』</p>
<p>这是发生在「永生之战」之后的故事。</p>
<p>慵懒的午后，你像平常一样陪着魔女在皇城内散步，</p>
<p>从实验室途经后花园，再绕过回到城堡内的起居室里。</p>
</br>
<p>『无论对手的生命值多大，它都能瞬间摧毁掉它最大的质因子。』</p>
<p>你似懂非懂地应了一声，目光空洞地视着前方。</p>
<p>『怎么？觉得不可思议嘛？那就来试试吧。』</p>
<p>转眼间，这把有着奇异质感的武器已经被传送到了你的手里。</p>
</br>
<p>你看着它，有些不知所措。</p>
<p>魔女看出了你的窘迫，轻声笑了起来。</p>
<p>『我不是这个意思啦。』</p>
<p>她转过身，开始了吟唱：</p>
<p>『Lata lulila lulula lulila talata……』</p>
<p>于是，四大元素从虚无中诞生，在二人面前凝聚在了一起</p>
<p>逐渐形成了人偶的形状。</p>
</br>
<p>『那么，我的骑士，你就对着这个人偶试试吧』</p>
<p>魔女微笑着抬起手指向了它。</p>
<p>你毫不犹豫地扣动了扳机。</p>
</br>
<p>已知，魔女创造的人偶生命值为</p>
<p>1000000000000007(1e15+7)</p>
<p>那么作为最优秀的人造意识体，加拉哈德一号</p>
<p>你能马上计算出人偶即将承受的伤害值嘛？</p>
<p class="meta">（为便于理解，给出形式化的题面）</p>
<p>已知\(1000000000000007=\prod p_i^{k_i}\)</p>
<p>求\(\max(p_i)\)</p>
{% endblock %}