{% block description %}
<p class="meta">（这是一道数学题）</p>
<p>这天，雾雨魔理沙罕见地独自前来造访香霖堂。</p>
<p>「喂，霖之助，最近是不是又进了什么有意思的货？」</p>
<p>『是有的啦，最近好像出现了很多电子器件来着……』</p>
<p>「电子器件？好像很有意思的样子……那我要全部买下！」</p>
<p>『嗯……可以是可以的啦，不过，最近开始采用新的定价策略啦』</p>
<p>「什么样子的定价策略？」</p>
<p>『首先，我会给每个商品都会标号。』</p>
<p>『那么之后，商品的实际售价，』</p>
<p>『就是其标号与原先总数的最大公约数。』</p>
<p>「那……如果我全都要买下的话要付你多少钱？」</p>
<p>『我这里一共有19260817个商品，你自己算算就好啦』</p>
<p>「唔……真是小气……」魔理沙嘟起嘴，开始在心中算起来……</p>
<p>不一会儿，她就发现这个答案好像不太好算</p>
<p>于是她来向你求助</p>
<p>你能告诉魔理沙一共需要多少钱嘛？</p>
<p class="meta">（为便于理解，给出形式化的题面）</p>
$$
\sum_{i=1}^{19260817}\gcd(i,19260817)
$$
{% endblock %}