{% block description %}
<div style="margin: 35px;line-height:30px;">
    <p>
        你听说过小猫钓鱼这个游戏吗？
    </p>
    <p>
        这个游戏是这样的，首先两个人各有一摞牌，并且存在一个公共的牌池，每一轮两个人都轮流拿一张自己<b>牌堆顶</b>的牌，放置到公共牌池。
    </p>
    <p>
        如果公共牌池存在与放入的牌数字相同的牌，那么两张相同的牌包括起来的所有牌，都归放入者所有，取出方式为拿出两张牌之间的所有牌（包含两端相同的牌），并置入放入者的<b>牌堆底</b>。
    </p>
    <p>
        联联和招招正在玩这个游戏，可是随着牌的数量增多，游戏进行的时间也会越来越长，心急的招招等不了如此长的时间，于是想想你求助，尽快知道结果，当有一方手里没牌时，游戏结束。
    </p>
    <p>
        联联一开始手中的牌为：1 5 2 4 8 8 3 7 3 6 2 5 2 6 5 6 9 2 6 1 4 7 5 8 8
    </p>
    <p>
        招招一开始手中的牌为：9 3 6 5 9 8 5 5 1 2 3 4 8 1 1 3 7 4 6 6 7 2 2 2 1
    </p>
    <p>
        右边为牌堆顶，联联先出牌。
    </p>
    <p>
        你能帮帮招招吗？答案为最后赢家牌堆中的所有牌，请从牌堆顶开始往牌堆底列。
    </p>
    <!-- 这题的答案可能错了, 以下是我的解题代码，不知道哪里出了问题
    list1='1 5 2 4 8 8 3 7 3 6 2 5 2 6 5 6 9 2 6 1 4 7 5 8 8'.split(' ');
    list2='9 3 6 5 9 8 5 5 1 2 3 4 8 1 1 3 7 4 6 6 7 2 2 2 1'.split(' ');
    card=[]
    flag=false;
    while(list1.length&&list2.length){
        cur=flag?list2.pop():list1.pop();
        index=card.findIndex(item=>item==cur);
        if(index==-1){
            card.push(cur);
        }else{
            card.push(cur);
            lastCard=card.splice(index);
            if(flag){
                list2=[...lastCard,...list2]
            }else{
                list1=[...lastCard,...list1]
            }
        }
        flag=!flag;
    } -->
</div>
{% endblock %}