{% block description %}
<p>这题你需要使用管理员身份才能过关!</p>
<p></p>
<blockquote class="meta">check the console ?</blockquote>
<script>
    console.log('Answer:                | \\ \n                       | |\n                       | |\n  |\\                   | |\n /, ~\\                / /\nX     `-.....-------./ /\n ~-. ~  ~              |\n    \\             /    |\n     \\  /_     ___\\   /\n     | /\\ ~~~~~   \\ |\n     | | \\        || |\n     | |\\ \\       || )\n    (_/ (_/      ((_/\n\n\n');
    </script>
{% endblock %}