{% extends 'base.html' %}
{% block title %}
disabled_button
{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link href="/static/assets/css/puzzle.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <div class="ui mini modal" id="rating">
        <div class="ui icon header">
            <i class="green check icon"></i>
            恭喜您通过了此关
        </div>
        <div class="actions">
            <div class="ui green ok inverted button" id="next-level">
                下一关
            </div>
        </div>
    </div>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui raised centered large card">
                {% block pre_block %}
                {# <!-- 推荐的展示图片方法 -->
                <div class="image">
                    <img src="https://link/to/img">
                </div>
                #}
                {% endblock %}
                <div class="content" style="padding: 30px 0">
                    <div class="header">
                        <a href="/"><h2>{{puzzle.name}}</h2></a>
                    </div>
                    <p></p>
                    <div class="meta">
                        {{puzzle.passed_num}}/{{puzzle.tried_num}} ({{puzzle.getPassRate()}})人通过了这关
                        <p></p><p></p><p></p>
                        作者：「{{puzzle.author}}」　分值：{{puzzle.score}}分
                    </div>

                    <div class="description">
                        <p>提交按钮不能按了,该怎么办呢?</p>
                        <!-- 这题的答案是: mucfc_have_fun-->
                    </div>
                </div>

                
                
                <div class="extra content">
                    <div class="ui large transparent left icon input">
                            <i class="key icon"></i>
                            <input type="text" id="answer" placeholder="答案">
                            <button class="ui teal button disabled" type="submit" id="submit" >提交</button>
                        </div>
                    <div class="ui negative hidden message" id="incorrect_answer">
                        <div class="header" id="message_header"></div>
                        <p id="message"></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block post_body_javascripts %}
  <script src="/static/assets/js/puzzle.js"></script>
{% endblock %}
