{% extends 'base.html' %}
{% block stylesheets %}
{{ super() }}
<link href="/static/assets/css/index.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
{{ super() }}
<script src="/static/assets/js/tablesort.js"></script>
{% endblock %}

{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="ui inverted teal vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary menu">
      <div class="right item">
        <a class="ui inverted button" href="/logout">退出登录</a>
      </div>
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui inverted header">
      謎.Plus
    </h1>
    {% if user.nickname %}
    <h2>欢迎回来，「 {{user.nickname}} 」！</h2>
    {% else %}
    <h2>欢迎回来，「 {{user.email}} 」！</h2>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block main %}
<div class="ui main container">
  <div class="ui two column stackable grid container">
    <div class="twelve wide left floated column" style="margin-right: 1em;">
      <div class="ui three column middle aligned grid">
        <div class="thirteen wide left floated column">
          <div class="ui green progress" id="puzzle_progress" data-value="{{user.passed|length}}"
            data-total="{{puzzles|length-1}}">
            <div class="bar"
              style="transition-duration: 300ms; width: {{(user.passed|length)*100/(puzzles|length-1)}}%;">
              <div class="progress">{{user.progress}}</div>
            </div>
            <div class="label">关卡进度</div>
          </div>
        </div>
        <div class="two wide right floated column">
          <div class="ui small statistic">
            <div class="value">{{round(user.credit)}}</div>
            <div class="label">积分</div>
          </div>
        </div>
      </div>

      <h2 class="ui horizontal header divider">关卡列表</h2>
      <table class="ui very basic unstackable sortable padded table">
        <thead>
          <tr>
            <th class="collapsing"></th>
            <th class="collapsing">关卡</th>
            <th class="center aligned">标题</th>
            <th class="center aligned">积分</th>
            <th class="center aligned collapsing">通过率</th>
          </tr>
        </thead>
        <tbody>
          {% for puzzle in puzzles %}
          <tr>
            <td data-sort-value="{{puzzle.unlock_score}}">
              {% if puzzle.id in user.passed %}<i class="large green check icon"></i>{% endif %}
              {% if puzzle.id not in user.passed and user.passed_num < puzzle.unlock_score %} <div class="ui icon"
                data-tooltip="题目尚未解锁" data-inverted="inverted"><i class="large lock icon"></i>
    </div>
    {% endif %}
    </td>
    <td>{{puzzle.id}}</td>
    <td class="center aligned">
      <a href="puzzle/{{puzzle.id}}" }>{{puzzle.name}}</a>
    </td>
    <td class="center aligned">
      {{puzzle.score}}
    </td>
    <td class="right aligned">{{puzzle.passed_num}}/{{puzzle.tried_num}}({{puzzle.getPassRate()}})</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="three wide right floated column" style="margin-left: 1em;">
    <h2 class="ui dividing header">排行榜</h2>
    <table class="ui unstackable table">
      <thead>
        <tr>
          <th class="center collapsing">排名</th>
          <th class="center aligned">昵称</th>
          <th class="center collapsing">积分</th>
        </tr>
      </thead>
      <tbody>
        {% for user in top10 %}
        <tr>
          <td class="collapsing">{{ loop.index }}</td>
          {% if user.nickname|length == 0 %}
          <td><strong>{{user.email}}</strong></td>
          {% else %}
          <td><strong>{{user.nickname}}</strong></td>
          {% endif %}
          <td>{{user.credit}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
</div>
{% endblock %}

{% block footer %}
<div class="ui teal inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">链接</h4>
        <div class="ui inverted link list">
          <a href="/static/eula.html" class="item">用户协议</a>
        </div>
      </div>

      <div class="twelve wide column">
        <h4 class="ui inverted header">关于</h4>
        <p>网站原作者<a href="https://github.com/kale1d0">kale1d0</a>。</p>
        <p><a href="mailto:458643616@qq.com">本人</a>基于作者源码进行了简单的定制化开发。</p>
      </div>
    </div>
  </div>
</div>

<script>
  $('#levels_progress').progress({
    label: 'ratio',
    text: {
      ratio: '{value} / {total}'
    },
    showActivity: false
  });
  $('.ui.form').form({
    fields: {
      email: 'empty',
      password: ['minLength[6]', 'empty'],
      accept_terms: 'checked'
    }
  });
  $('.table').tablesort();
</script>
{% endblock %}